* {
  @include box-sizing;
  line-height: 1.5;
}

html,
body {
  color: #555;
  margin: 0;
  padding: 0;
}

html {
  font-family: $serif-primary;
  font-size: 14px;
  overflow-y: scroll;

  @media (min-width: 600px) {
    font-size: 16px;
  }
}

body {
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $default-shade;
  font-family: $sans-serif;
  line-height: normal;
}

a {
  color: $blue;
  text-decoration: none;
}

li {
  margin: 6px 0;
}

blockquote {
  border-left: .25rem solid $grey-2;
  color: $grey-1;
  margin: .8rem 0;
  padding: .5rem 1rem;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 600px) {
    padding: 0 5rem 0 1.25rem;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}

td {
  vertical-align: top;
}

table {
  width: 100%;
}

th,
td {
  border: 1px solid black;
  padding: 8px;
}

tbody tr:nth-child(even) {
  background-color: #eee;
}

thead {
  background-color: #333;
  color: white;
  font-size: 0.875rem;
  letter-spacing: 2%;
}
